.container {
  display: flex;
  border-radius: 0.5rem;
  margin-top: 20rem;

  .introContainer {
    padding: 2rem;
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: flex-end;
    cursor: default;
    z-index: 999;

    .jobTitle {
      color: var(--textAltColor);
      width: 100%;
      text-align: right;
      letter-spacing: 0.85rem;
      z-index: 999;
    }

    .button {
      width: 100%;
      margin: 4rem 0.5rem;
      height: 5rem;
      border: 1px solid var(--secondaryColor);
      background-color: transparent;
      color: var(--textColor);
      z-index: 999;
      cursor: pointer;
      font-size: 1.2rem;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 0.85rem;

      &:hover {
        background-color: var(--secondaryColor);
        color: var(--bgColor);
        transition: 0.2s ease-in-out;
        font-weight: bolder;
      }
    }

    h1 {
      font-size: 6rem;
      padding: 0;
      margin: 0;
      font-weight: lighter;
    }

    h2 {
      font-size: 10rem;
      padding: 0;
      margin: 0;
      display: inline;
    }

    .fullStop {
      display: inline-block;
      width: 2.5rem;
      height: 2.5rem;
      margin-left: 1rem;
      border-radius: 100%;
      background-color: var(--secondaryColor);
      z-index: 999;

    }

    .introWords {
      &:hover .fullStop{
        animation: bounce;
        animation-duration: 1s
      }
    }
  }

  .cubeContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 25rem;
    z-index: -1;

    .spinningCube {
      animation-name: spincube;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 12s;
      transform-style: preserve-3d;
      transform-origin: 20rem 20rem 0;
      margin-left: 45%;
      z-index: 1;

      div {
        position: absolute;
        width: 40rem;
        height: 40rem;
        border: 0.1rem solid var(--secondaryColor);
        background: rgba(192, 186, 155, 0.8);
        font-size: 25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;


        img {
          width: 25rem;
        }

      }

      .face1 {
        transform: translateZ(20rem);
      }
      .face2 {
        transform: rotateY(90deg) translateZ(20rem);
        svg {
          transform: rotate(-90deg);
        }
      }
      .face3 {
        transform: rotateY(90deg) rotateX(90deg) translateZ(20rem);
      }
      .face4 {
        transform: rotateY(180deg) rotateZ(90deg) translateZ(20rem);
      }
      .face5 {
        transform: rotateY(-90deg) rotateZ(90deg) translateZ(20rem);
      }
      .face6 {
        transform: rotateX(-90deg) translateZ(20rem);
      }

    }
  }
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateX(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}

