.page {
  margin: 2rem 11rem;

  .homeLink {
    text-decoration: none;
    display: inline-block;
    border: 0.1rem solid var(--textAltColor);
    width: auto;
    padding: 0.5rem;
    margin-left: -5rem;
    opacity: 0.6;
    transition: 0.2s ease-in-out;


    &:hover {
      border-color: var(--secondaryColor);
      opacity: 1;
      transition: 0.2s ease-in-out;

      p {
        color: var(--textAltColor);
        transition: 0.2s ease-in-out;
      }

    }

    h1 {
      color: var(--textColor);
      margin: 0;
      padding: 0;
    }
    p {
      color: var(--textAltColor);
      margin: 0;
      padding: 0;
      transition: 0.2s ease-in-out;
    }

  }

}

