.nav-bar {
  background: var(--primaryColor);
  width: 4rem;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 50rem;
  transition: 0.2s ease-in-out;

  &:hover {
    width: 10rem;
    transition: 0.2s ease-in-out;

    .hamburger {

      img {
        width: 7rem;
        transition: 0.2s ease-in-out;
        opacity: 1;
      }

      svg {
        opacity: 0;
        transition: 0.2s ease-in-out
      }
    }

    nav {
      opacity: 1;
      transition: 0.2s ease-in-out;
    }

    ul {
      opacity: 1;
      transition: 0.2s ease-in-out;
    }
  }

  .hamburger {
    display: block;

    img {
      display: block;
      margin: 2rem auto;
      width: 3rem;
      height: auto;
      opacity: 0;
      transition: 0.2s ease-in-out;
    }

    svg {
      width: 100%;
      height: 2rem;
      position: absolute;
      top: 45%;
      transition: 0.2s ease-in-out
    }

  }

  nav {
    display: block;
    text-align: center;
    position: absolute;
    height: 21rem;
    top: 50%;
    margin-top: -12rem;
    width: 100%;
    opacity: 0;
    transition: 0.2s ease-in-out;

    a {
      font-size: 2.5rem;
      color: var(--textColor);
      display: block;
      line-height: 5.1rem;
      height: 5.1rem;
      position: relative;
      text-decoration: none;

      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: var(--secondaryColor);

        svg {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: '';
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
      }

      &:first-child {
        &:after {
          content: 'HOME';
        }
      }
    }

    a.about-link {
      &:after {
        content: 'ABOUT';
      }
    }

    a.projects-link {
      &:after {
        content: 'PROJECTS';
      }
    }

    a.contact-link {
      &:after {
        content: 'CONTACT';
      }
    }

    a.active {
      svg {
        color: var(--secondaryColor);
      }
    }
  }

  ul {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;
    opacity: 0;
    transition: 0.2s ease-in-out;

    li {
      a {
        padding: 0.7rem 0;
        display: block;
        font-size: 2rem;
        line-height: 1.6rem;

        &:hover svg{
          color: var(--secondaryColor);
        }
      }
    }
  }

}