:root {
  --bgColorGradient: linear-gradient(-135deg, #0f3443, #103848, #113b4d, #123f51, #134356, #14475b, #154b60, #174f65, #18536a, #195770, #1a5b75, #1b5f7a);
  --bgColor: #0f3443;
  --primaryColor: #181818;
  --primaryColor-75: rgba(24,24,24,0.75);
  --primaryColor-50: rgba(24,24,24,0.50);
  --primaryColor-25: rgba(24,24,24,0.25);
  --secondaryColor: #ffd700;

  --textColor: #fff;
  --textAltColor: #939393;
}


html { font-size: 10px; }

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  color: var(--textColor);
  background: var(--bgColorGradient);
  background-attachment: fixed;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

